<!DOCTYPE html>
<!--
no sea zapo
fuck you zapo

1
-75.5608489 6.1960587 a -75.5608489 6.1960587
2
-75.5728883, 6.1970077 santafe

-75.5764695, 6.2011545 idiomas

eafit2
-75.5778046, 6.2029412

la medellin
-75.6101004, 6.2312125

la de antioquia
-75.5694416, 6.2650137

la nacional

-75.5762232, 6.266327

luis amigo

-75.5832559, 6.2601878
-->

<html>
<head>
	<title>Al Otro Lado</title>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo1.png">
</head>
<body style="background-color:#0d0d0d; color: rgb(0,155,0)">
	<header>
		<center>
			<br>
			<h1><b>Al Otro Lado</b></h1>
			<img src="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo1.png">
			<br>
			<h4>el waze bueno y de codigo libre que calcula la mejor ruta respecto el acoso en medellin</h4>
			<br>
			<a href="https://github.com/jero98772/AlOtroLado">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fsocial-media-iconez%2F64%2FGitHub-1024.png&f=1&nofb=1" height="150" width="150">
			<h4>repositorio del proyecto</h4>
			</a>
			<br>
			<br>
		</center>
	</header>
	<section>
		<h2>links importantes en esta pagina</h2>
		<ul>
			<li><a href="/">apliacion web</a></li>
			<li><a href="/about.html">informacion</a></li>

			<li><a href="/dotsdir.html">mapa con puntos y cordenadas</a></li>
			<li><a href="/heatmap.html">mapa de calor respecto al acoso</a></li>
			<li><a href="/medellingraph.html">medellin como un grafo</a></li>

			<li><a href="/data.json">datos completos</a></li>
			<li><a href="/nodes.json">datos como directorio de nodos</a></li>

		</ul>
	</section>

	<section>
		<h2>rutas de prueba</h2>
		<ul>
			<li><a href="/concord2tesoro.html">Concord a el tesoro</a></li>
			<li><a href="/eafit_santafe.html">Eafit al cc santafe </a></li>
			<li><a href="/eafit2medellin.html">Eafit a U la medellin</a></li>
			<li><a href="/antioquia2nacional.html">U antioquia a la nacional</a></li>
			<li><a href="/nacional2luisamigo.html">U nacional a la luis amigo</a></li>
		</ul>
	</section>
	<section>
		<h2>Logros y caracteristicas del Proyecto </h2>
		<ul>
			<li>apliacion web</li>
			<li>mapa interactivo</li>
			<li>Se datos limpiaron los datos</li>
			<li>incluye herramientas para limpiar datos y acceder desde a distancia</li>
			<li>incluye mapa de calor</li>
			<li>codigo limpio y modular</li>
			<li>diferentes tipos de grafos</li>
			<li>logos en ascii art</li>
			<li>otros logros no importantes</li>
		</ul>
	</section>
	<section>
		<h2>datos curiosos</h2>
		<ul>
			<li>el nombre hace referencia a los nombres que ponia fernando gonzales,nombres como: "otra parte", "una tesis", nombre simples y elegantes</li>
			<li>si no lo a notado tiene un estilo artistico inclinado a "dark Vaporwav" </li>
			<li>el color usado en los nodes de <a href="/medellingraph.html">"medellin como un grafo"</a> en algunas pantallas se ve como un morado, en otras se ve como morado,rojo y azul al mismo tiempo, este color es #8924FA</li>
		</ul>
	</section>
	<section>
		<h2>motivaciones de Daniel</h2>
		<ul>
			<li>mis amigos que manejan mapas: fede,brolin y alejandra y sus proyectos como <a href="http://daquina.io/">daquina</a></li>
		</ul>
	</section>
	<section>
		<h2>referencias del proyecto</h2>
		<ul>
			<li><a href="https://github.com/jero98772/AlOtroLado"> codigo github</a></li>
			<li><a href="https://gitlab.com/jero98772/alotrolado"> mirror gitlab</a></li>
			<li><a href="https://github.com/entifais/ST0245-Plantilla/tree/master/proyecto/codigo"> desarrollo del proyecto</a></li>

		</ul>
	</section>
	<section>
		<h2>referencias externas</h2>
		<ul>
			<li>se uso codigo de B-feelLog para servir html de <a href="https://github.com/jero98772/B-FeelLog">B-feelLog</a></li>
  			<li>se uso librerias como flask ,pydeck y networkX</li>
		</ul>
	</section>
<center>
	
<h1><b>Al Otro Lado en ascii art</b></h1>
<pre style=" color: rgb(0,155,0)">
                                             
                      %                       
                      %                       
                    %%%%                     
                     %                       
                     %%                      
                    %%%%                     
                  %%%%                       
                %%%%                         
              %%%%%                          
             %%%%                            
           %%%%%                             
         %%%%%                               
       %%%%%                                 
      %%%%%                          %       
    %%%%%                          %%%%%     
   %%%%%                           %%%%%     
    %%%%%%                          %%%      
     %%%%%%%%                    %%%%%       
     %%%  %%%%%               %%%%% %%       
      %%%  %%%%%%   %%%  %%%%%%%%  %%%       
      %%%%    %%%%%%%%%%%%%%%%%    %%        
       %%%      %%%%%%%%%%%%      %%%        
       %%%%       %%%%%%          %%         
       %%%%%        %%%%         %%%         
        %%%%        %%%%        %%%          
        %%%%%      %%%%%%       %%%          
         %%%%      %%%%%%      %%%           
          %%%%     %%%%%%      %%%           
          %%%%%    %%%%%%     %%%            
           %%%%    %%%%%%     %%%            
            %%%%   %%%%%%%   %%%%            
            %%%%   %%%%%%%  %%%%             
             %%%% %%%%%%%% %%%%%             
             %%%% %%%%%%%% %%%%              
             %%%% %%%%%%%% %%%               
              %%%%%%%%%%%%%%%%               
               %%%%%%%%%%%%%%                
                %%%%%%%%%%%%                 
                %%%%%%%%%%%%                 
                 %%%%%%%%%%%                 
                 %%%%%%%%%%                  
                  %%%%%%%                   
                  %%%%%             
</pre>
</center>
</section>
</body>
</html>

{% extends  'template.html'%}
{% block content %}


{% endblock  %}
