<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header></header>
	<section>
		<h2>links importantes en esta pagina</h2>
		<ul>
			<li><a href="/">index</a></li>
			<li><a href="/dotsdir.html">puntos y cordenadas</a></li>
			<li><a href="/data.json">datos</a></li>
		</ul>
	</section>
	<section>
		<h2>datos importantes para la tarea</h2>
		<h3>solucion al problema</h3>
		<ul>
		</ul>
		<h3>estructuras de datos</h3>
		<ul>
		</ul>
		<h3>algoritmos usados</h3>
		<ul>
		</ul>
	</section>
	<section>
		<h2>Caracteristicas</h2>
		<ul>
		</ul>
	</section>
	<section>
		<h2>referencias</h2>
		<ul>
			<li>se uso codigo para servir html de <a href="https://github.com/jero98772/B-FeelLog">B-feelLog</a></li>
  			<li>se uso librerias como flask ,pydeck y networkX</li>
  			<li>Milk</li>
		</ul>
	</section>
	<section>
		<h2>datos curiosos</h2>
		<ul>
			<li>el nombre hace referencia a los nombres que ponia fernando gonzales,nombres como: "otra parte", "una tesis", nombre simples y mu elegantes</li>
		</ul>
	</section>

	<section>
		<h2>motivaciones</h2>
	</section>
</body>
</html>

{% extends  'template.html'%}
{% block content %}


{% endblock  %}
