<title>Al Otro Lado</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" href="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo1.png">
	<div style="width:100%; height:55px; background-color:#0f0f0f; color: rgb(0,155,0)" >
		<form method="POST">
			<table  class="table" cellpadding="5" cellspacing="5">
				<th><a href="/about.html"><img src="https://raw.githubusercontent.com/entifais/ST0245-Plantilla/master/proyecto/codigo/alOtroLado/misc/img/logo2.png" height="42" width="32"></a></th>
				<th><a href="/about.html"><p  class="text-success">Al otro lado</p></a></th>
				<th><h3><p class="text-success">Origen</p></h3></th>
				<th><input type="text" name="source" class="form-control" placeholder="-75.6909483, 6.338773"></th>
				<th><h3><p class="text-success">Destino</p></h3></th>
				<th><input type="text" name="target" class="form-control" placeholder="-75.5705202, 6.2106275"></th>
				<th><input type="submit" value="Generar ruta"></th>
				<th colspan="2"><p class="text-danger">{{ msg }}</p></th>
			</table>
		</form>
	</div>
<center>
	<iframe src="/mapBase.html"  class="embed-responsive-item" style="width:1px; min-width:100%; border-width: 0px; height: 100%" allowtransparency="true" ></iframe>
</center>
